/* ===========================
   PROJECTS PAGE
   PHASE 4A
=========================== */

.projects-page-hero {

    padding-top: 180px;
    padding-bottom: 120px;

}


.projects-page-list {

    padding-bottom: 160px;

}


.projects-page-grid {

    min-height: 200px;

}